* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$nav-background: rgb(7, 7, 34);
$main-text-color: rgb(254, 255, 251);
$paragraph-color: rgb(245, 245, 245);
$source-color: rgba(255, 255, 255, 0.5);
$font-spartan: "Spartan", sans-serif;
$border: 0.5px solid $main-text-color;

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Antonio", sans-serif;
  background-image: url("../assets/background-stars.svg");
  background-size: cover;
  background-color: $nav-background;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  border-bottom: $border;
  color: white;
  background-color: $nav-background;

  .nav__hamburger {
    display: none;
  }

  .nav__items,
  .nav__title {
    padding: 0 1rem;
  }

  .nav__title {
    font-size: 3rem;
  }

  .nav__items {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: "Spartan", sans-serif;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 105px;
      padding: 3rem 1rem;
      cursor: pointer;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 105px;
        height: 5px;
        opacity: 0;
        transform: scaleX(0);
        transition: opacity 0.3s, transform 0.3s;
      }

      &:hover::before {
        opacity: 1;
        transform: scaleX(1);
      }
    }
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.planet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;

  &__img {
    width: 500px;
    margin: 0 10rem;
  }

  &__info {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;

    &__text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 400px;

      &__name {
        color: $main-text-color;
        font-size: 4rem;
        align-self: flex-start;
      }

      &__description {
        margin-top: 3rem;
        color: $paragraph-color;
        font-family: $font-spartan;
        font-size: 1.6rem;
        line-height: 3.5rem;
      }

      &__source {
        align-self: flex-start;
        margin: 3rem 0;
        color: $source-color;
        font-family: $font-spartan;
        font-size: 1.6rem;

        a {
          color: $source-color;
          font-weight: bold;
        }
      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

      button {
        height: 55px;
        width: 100%;
        margin: 1rem 0;
        color: $paragraph-color;
        background-color: transparent;
        border: $border;
        text-align: left;
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: 0.2rem;
        cursor: pointer;

        span {
          margin: 0 3rem;
          color: $source-color;
        }

        &:hover {
          background-color: rgba(250, 250, 250, 0.3);
        }
      }
    }
  }
}

.planet-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1080px;
  margin-top: 5rem;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 100px;
    width: 200px;
    padding: 2rem;
    border: $border;

    &__name {
      color: $source-color;
      font-size: 1rem;
      font-family: $font-spartan;
      font-weight: bold;
    }

    &__value {
      font-size: 3rem;
      color: $main-text-color;
    }
  }
}

.mercury::before {
  background-color: #def4fc;
}
.venus::before {
  background-color: #f7cc7f;
}
.earth::before {
  background-color: #545bfe;
}
.mars::before {
  background-color: #ff6a45;
}
.jupiter::before {
  background-color: #ebad7a;
}
.saturn::before {
  background-color: #fccb6b;
}
.uranus::before {
  background-color: #65f0d5;
}
.neptune::before {
  background-color: #487efa;
}

.active {
  font-weight: bold;
  color: $source-color;
}

@media screen and (max-width: 1100px) {
  nav {
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;

    .nav__title {
      font-size: 2.5rem;
    }

    .nav__items {
      font-size: 1.2rem;

      &__item {
        padding-bottom: 0;
        padding-top: 2rem;
        width: 90px;
      }
    }
  }

  .planet {
    flex-direction: column;
    justify-content: center;
    gap: 5rem;

    &__img {
      width: 300px;
    }

    &__info {
      flex-direction: row;
      gap: 3rem;
      width: 650px;

      &__text {
        width: 100%;

        &__name {
          position: relative;
          font-size: 3rem;

          .text-wrapper {
            position: relative;
            display: inline-block;
            padding-top: 0.2em;
            padding-right: 0.05em;
            padding-bottom: 0.1em;
            overflow: hidden;
          }

          .letters {
            display: inline-block;
            line-height: 1em;
            transform-origin: 0 0;
          }
        }

        &__description {
          font-size: 1.2rem;
          line-height: 2.5rem;
        }

        &__source {
          font-size: 1.2rem;
        }
      }

      &__buttons {
        button {
          height: 45px;
          font-size: 1.2rem;
        }
      }
    }
  }

  .planet-data {
    width: 650px;
    &__item {
      height: 80px;
      width: 150px;
      &__value {
        font-size: 1.6rem;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  nav {
    position: relative;
    flex-direction: row;
    height: 100px;
    padding: 0 2rem;

    .nav__title {
      font-size: 3.5rem;
      margin-bottom: 0;
    }

    .nav__hamburger {
      display: block;
      img {
        width: 40px;
        cursor: pointer;
      }
    }

    .show {
      transform: translateX(100vw);
    }

    .nav__items {
      position: fixed;
      flex-direction: column;
      justify-content: flex-start;
      gap: 2rem;
      width: 100vw;
      height: calc(100vh - 100px);
      left: -100vw;
      top: 100px;
      font-size: 2rem;
      background-color: #171720;
      z-index: 1;
      transition: transform 0.6s;

      &__item {
        &:first-child {
          margin-top: 5rem;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          width: 100vw;
          height: 10px;
          opacity: 0;
          transform: scaleX(0);
          transition: opacity 0.3s, transform 0.3s;
        }
      }
    }
  }

  .planet {
    width: 100vw;

    &__img {
      margin-top: 8rem;
      width: 60vw;
    }

    &__info {
      width: 100vw;

      &__text {
        display: flex;

        &__name {
          align-self: center;
        }

        &__description {
          width: 80%;
        }

        &__source {
          align-self: center;
        }
      }

      &__buttons {
        position: absolute;
        flex-direction: row;
        top: 120px;
        right: 0;

        button {
          height: 80px;
          margin: 0;
          border: none;
          text-align: center;

          span {
            display: none;
          }
        }
      }
    }
  }

  .planet-data {
    width: 100vw;
    flex-direction: column;
    margin-bottom: 5rem;
    &__item {
      flex-direction: row;
      width: 80%;
    }
  }
}

//  animations
